<!DOCTYPE html>
<html>
  <head>
    <%- include("./partials/head", {title:"Events"}) %>
  </head>
  <body>
    <form action="http://localhost:3000/api/events" method="post" enctype="application/json" >
      <fieldset>
        <label for="placeid">Place_id:</label>
        <input type="number" id="placeid" name="placeid"/>
        <br />
        <label for="groupid">Group_id:</label>
        <input type="number" id="groupid" name="groupid"/>
        <br />      
        <label for="name">Name:</label>
        <input type="text" id="name" name="name"/>
        <br />
        <label for="description">Description:</label>
        <input type="description" id="description" name="description" />
        <br />
        <label for="date">Date:</label>
        <input type="datetime" id="datetime" name="datetime"/>
        <br />
        <input type="submit" class="btn btn-info" value="New Event" />
      </fieldset>
    </form>
  </body>
</html>