<!DOCTYPE html>
<html>
  <head>
    <%- include("./partials/head",{title:"your_title"}) %>
  </head>
  <body>
    <h2>Places</h2>
    <ul>
      <% places.forEach(function(places) { %>
        <li>
          <%= places.name %>
          <a href="http://localhost:3000/places/edit/<%= places.id %>" class="btn btn-info" role="button">Edit</a>
          <button class="btn btn-danger delete" data-place-id=<%= places.id %> role="button">Delete</button>
        </li>
        <% }); %>
    </ul>
    <a href="http://localhost:3000/places/new" class="btn btn-info" role="button">New Place</a>
    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/places.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
  </body>
</html>