<!DOCTYPE html>
<html>
  <head>
    <%- include("./partials/head", {title:"your_title"}) %>
  </head>
  <body>
    <form action="http://localhost:3000/api/places" method="post" enctype="application/json" class="newPlace">
      <fieldset>
        <label for="name">Name:</label>
        <input type="text" id="name" name="name"/>
        <br />
        <label for="latitude">Latitude:</label>
        <input type="latitude" id="latitude" name="latitude" />
        <br />
        <label for="longitude">Longitude:</label>
        <input id="longitude" name="longitude"/>
        <br />
        <input type="submit" class="btn btn-info submiteNewPlace" value="New Place" />
      </fieldset>
    </form>
  </body>
</html>