<!DOCTYPE html>
<html>
  <head>
    <%- include("./partials/head", {title:"your_title"}) %>
  </head>
  <body>
    <h2>Place</h2>
    <h4>Name: <%= place.name %> </h4>
    <h4>Latitude: <%= place.latitude %> </h4>
    <h4>Longitude: <%= place.longitude %> </h4>
    <script src="/javascripts/bootstrap.min.js"></script>
  </body>
</html>