<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <h2>On Flavor</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <p>An app where you can create and add food orders</p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <ul>
            <li>
              <a href="/places">Places list</a>
            </li>
            <li>
              <a href="/orders">Orders</a>
            </li>
            <li>
              <a href="/groups">Groups</a>
            </li>
            <li>
              <a href="/events">Events</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <%= JSON.stringify(session.user.token) %>
    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
  </body>
</html>