body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.menu {
  margin-top: 10px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.letters {
  border-width: 0;
  color: blue;
}

.buttonPressed {
  background: #87b5ff;
  color: white;
}

.wellcome-text {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30%;
  font-size: 2em;
}

.btn-signin {
  border: 1px solid blue;
  background: blue;
  color: white;
  font-weight: 500;
}

.btn-signin {
  border: 1px solid #121223;
  background: #121223;
  color: white;
  font-weight: 500;
}

.btn-round {
  position: fixed;
  width: 80px;
  height: 80px;
  right: 30px;
  bottom:30px;
  border: 1px solid #d3233e;
  border-radius: 50%;
  box-shadow: -3px 3px 5px rgba(0, 0, 0, 0.2);
  background: #d3233e;
  color: white;
  font-size: 2em
}

.card {
  padding: 10px;
  box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.2);
  margin-bottom: 10px
}

.btn-signin-google {
  border: 1px solid #d3233e;
  background: #d3233e;
  color: white;
}

.link-signup {
  color: blue;
  font-size: small;
  justify-content: right;
}

.places {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5%;
}