body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; }

a {
  color: #00B7FF; }

.one-line {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

.pointer {
  cursor: pointer; }

.event-card {
  padding: 10px 10px;
  border: 1px solid #ebebeb;
  cursor: pointer;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  margin-bottom: 14px; }
  .event-card .name {
    font-size: 1.3em;
    font-weight: bold;
    display: block;
    line-height: 2em; }
  .event-card .place {
    font-size: 1.1em;
    line-height: 1.6em;
    color: #666; }
  .event-card .date-time {
    color: #666; }
  .event-card .tumbnail {
    height: 100%;
    min-height: 73px;
    overflow: hidden;
    background-size: cover;
    background-position: center; }

table .actions a {
  margin: auto 3px; }

.dishes-table {
  min-width: 200px; }
  .dishes-table td {
    padding-right: 10px;
    line-height: 1.7em; }

.place-image {
  height: 200px;
  background: url(images/bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
  .place-image .info {
    background: rgba(255, 255, 255, 0.7);
    padding: 10px; }

.order-quantity {
  font-size: 1.3em; }

.nav-logo {
  display: inline-block !important;
  height: 100%; }

@media print {
  .printer-hide {
    display: none !important; }
  .btn {
    display: none; }
  .info h4 {
    display: none; }
  .place-image {
    height: auto; } }

.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1; }

.inputfile + label {
  max-width: 80%;
  font-size: 1.25rem;
  font-weight: 700;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  padding: 0.625rem 1.25rem;
  color: #f1e5e6;
  background-color: #d3394c; }
  .inputfile + label:focus, .inputfile + label:hover {
    background-color: #722040;
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px; }

.btn-google {
  background-color: #C13C31;
  color: white; }
  .btn-google:hover {
    color: white; }
