body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: rgb(255, 255, 255);
  color: black;
}

.content-layout {
  height: 100%;
  margin-bottom: 100px;
}

.wellcome-text {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30%;
  font-size: 2em;
}

.btn-signin {
  border: 1px solid #09081E;
  background: #09081E;
  color: white;
  font-weight: 500;
}

.card {
  padding: 10px;
  box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.2);
  margin-bottom: 10px;
  color: black;
}

.hover-card:hover {
  box-shadow: 0 0 20px rgba(66, 134, 244 , 0.3);
}

.btn-signin-google {
  border: 1px solid #d3233e;
  background: #d3233e;
  color: white;
}

.link-signup {
  color: blue;
  font-size: small;
  justify-content: right;
}



