<!DOCTYPE html>
<html>
  <head>
    <%- include("./partials/head", {title:"New group"}) %>
  </head>
  <body>
    <form action="http://localhost:3000/api/groups" method="post" enctype="application/json" >
      <fieldset>
        <label for="name">Name:</label>
        <input type="text" id="name" name="name"/>
        <br />
        <input type="submit" class="btn btn-info" value="New Group" />
      </fieldset>
    </form>
  </body>
</html>