<!DOCTYPE html>
<html>
  <head>
    <%- include("./partials/head", {title:"Group"}) %>
  </head>
  <body>
    <h2>Group</h2>
    <h4>Name: <%= group.name %> </h4>
    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
  </body>
</html>