<!DOCTYPE html>
<html>
  <head>
    <%- include("./partials/head", {title:"Orders"}) %>
  </head>
  <body>
    <form action="http://localhost:3000/api/orders" method="post" enctype="application/json" >
      <fieldset>
        <label for="eventid">Event_id:</label>
        <input type="text" id="eventid" name="eventid"/>
        <br />
        <label for="dishid">Dish_id:</label>
        <input type="dishid" id="dishid" name="dishid" />
        <br />
        <label for="userid">User_id:</label>
        <input type="userid" id="userid" name="userid" />
        <br />
        <label for="quantity">Quantity:</label>
        <input type="quantity" id="quantity" name="quantity" />
        <br />
        <input type="submit" class="btn btn-info" value="New Order" />
      </fieldset>
    </form>
  </body>
</html>