<!DOCTYPE html>
<html>
  <head>
    <%- include("./partials/head", {title:"Dish"}) %>
  </head>
  <body>
    <h2>Dish</h2>
    <h4>Place_id: <%= dish.place_id %> </h4>
    <h4>Name: <%= dish.name %> </h4>
    <h4>Price: <%= dish.price %> </h4>

    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
  </body>
</html>