#card {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  will-change: transform;
  transition: transform 0.50s;
  transition-timing-function: ease-in-out;
  position: absolute;
}

.back  {
  transform: rotateY(180deg);
}

/* Stack front and back elements over each other */
.front, .back {
  backface-visibility: hidden;
}

.containerCard {
  perspective: 400px;
  z-index: 1;
}

.cards-container {
  position: relative;
}