<form action="http://localhost:3000/api/places" method="post" enctype="application/json" name="places">
      <fieldset>
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" placeholder="Enter your place name" />
        <br />
        <label for="latitude">Latitude:</label>
        <input type="latitude" id="latitude" name="latitude" placeholder="Enter your latitude" />
        <br />
        <label for="longitude">Longitude:</label>
        <textarea id="longitude" name="longitude" placeholder="Enter your longitude"></textarea>
        <br />
        <input type="submit" value="Create Place" />
      </fieldset>
    </form>