.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 5px 25px -12px black inset;
  padding: 50px;
  font-size: small;
  align-self: flex-end;
}