<!DOCTYPE html>
<html>
  <head>
    <%- include("./partials/head", {title:"your_title"}) %>
  </head>
  <body>
    <form action="http://localhost:3000/api/users" method="post" enctype="application/json" >
      <fieldset>
        <label for="full_name">Name:</label>
        <input type="text" id="full_name" name="full_name"/>
        <br />
        <label for="username">Username:</label>
        <input type="username" id="username" name="username" />
        <br />
        <label for="password">Password:</label>
        <input id="password" name="password"/>
        <br />
        <input type="submit" class="btn btn-info" value="New User" />
      </fieldset>
    </form>
  </body>
</html>