<!DOCTYPE html>
<html>
  <head>
    <%- include("./partials/head", {title:"User"}) %>
  </head>
  <body>
    <h2>User</h2>
    <h4>Name: <%= user.name %> </h4>
    <h4>Username: <%= user.username %> </h4>
    <h4>Password: <%= user.password %> </h4>
    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
  </body>
</html>