.menu {
  margin-top: 10px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item-menu {
  border-width: 0;
}

.text-color {
  color: black;
}

.text-color:hover{
  color: black;
}

.item-pressed {
  background: #0093D1;
  color: white;
}